<!DOCTYPE html>
<html>
<head>
    <title>Register - Club Portal</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <% if (message) { %>
  <p style="color: red;"><%= message %></p>
<% } %>
        <form action="/register" method="post">
            <div class="input-group">    
                <label>Full Name</label>
                <input type="text" name="name" placeholder="Enter your full name" required>
            </div>

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Create password" required>
            </div>

            <div class="input-group">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" placeholder="Confirm password" required>
            </div>

            <button type="submit" class="btn">Register</button>

            <p class="switch-text">
                Already have an account? <a href="login.html">Login</a>
            </p>
        </form>
    </div>
</div>



</body>
</html>